<template>
  <div id='Nav'>
    <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
      <!-- <span class="navbar-toggler-icon leftmenutrigger"></span> -->
      <router-link to='/dashboard' class='navbar-brand'>Dashboard</router-link>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarText">
        <!-- <ul class="navbar-nav animate side-nav">
          <li class="nav-item">
            <router-link to='/dashboard' class='nav-link'>Dashboard</router-link>
          </li>
          <li class="nav-item">
            <router-link to='/dashboard' class='nav-link'>Management Access</router-link>
          </li>
          <li class="nav-item">
            <router-link to='/files' class='nav-link'>Upload Files</router-link>
          </li>
          <li class="nav-item">
            <router-link to='/dashboard' class='nav-link'>Log Out</router-link>
          </li>
        </ul> -->
        <ul class="navbar-nav ml-md-auto d-md-flex">
          <li class="nav-item">
            <a href="#" @click.prevent="logout" class='nav-link'>Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Welcome To Bluefox International</h5>
            <p class="card-text"></p>
            <router-link to='/dashboard' class='card-link'>Dashboard</router-link>
            <router-link to='/files' class='card-link'>Upload Files</router-link>
            <a href="#" @click.prevent="logout" class='card-link'>Logout</a>
          </div>
        </div>
      </div>
    </div>
    <Users/>
  </div>
</template>

<script>
import { authHeader, authUser } from '@/_helpers';

export default {
  name: 'Nav',
  methods: {
    logout:function(){
      const requestOptions = {
        headers: authHeader()
      };

      this.$http.delete(this.$apiUrl+'/api/v1/logout', requestOptions)
        .then(response => {
          localStorage.removeItem('user');
          window.location.replace("/login");
        })
        .catch(error => {});
    }
  }
}
</script>
