<template>
  <div id='login'>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Icon -->
        <div class="fadeIn first">
          <h1>Login</h1>
        </div>
      
        <!-- Login Form -->
        <form @submit.prevent="handleSubmit">
          <input v-model="user.identifier" required="required" type="text" class="fadeIn second" name="identifier" placeholder="Username or Email">
          <input v-model="user.password" required="required" type="password" class="fadeIn third" name="password" placeholder="Password">
          <button class="fadeIn fourth" type='submit'>Login</button>
          <br>
          <br>
          You don't have an account yet? <router-link to='/register' class='card-link'>Register Now</router-link>
        </form>

      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'Login',
    data(){
      return{
        user: {
          identifier: '',
          password:''
        },
        submitted: false
      }
    },
    methods: {
      handleSubmit(e){
        this.submitted = true;
        const requestOptions = {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(this.user)
        };

        return fetch(this.$apiUrl+'/api/v1/login', requestOptions)
          .then(handleResponse)
          .then(user => {
            if (user.token) {
              localStorage.setItem('user', JSON.stringify(user));
            }
            return user;
          });
      }
    }
  }

  function handleResponse(response) {
    return response.text().then(text => {
      const data = text && JSON.parse(text);
      if (!response.ok) {
        const error = data || response.statusText;
        const errorMessage = Array.isArray(data.error) ? data.error.join(' & ') : data.error
        alert(errorMessage);
      }else{
        window.location.replace("/dashboard");
      }
      return data;
    });
  }
</script>