<template>
  <div id='register'>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Icon -->
        <div class="fadeIn first">
          <h1>Register</h1>
        </div>

        <!-- Register Form -->
        <form @submit.prevent="handleSubmit">
          <!-- <input v-model="user.avatar" type="file" name="avatar"> -->
          <input v-model="user.full_name" required="required" type="text" class="fadeIn second" name="full_name" placeholder="Fullname">
          <input v-model="user.username" required="required" type="text" class="fadeIn second" name="username" placeholder="Username">
          <input v-model="user.email" required="required" type="email" class="fadeIn second" name="email" placeholder="Email">
          <input v-model="user.password" required="required" type="password" class="fadeIn third" name="password" placeholder="password">
          <button class="fadeIn fourth" type='submit'>Register</button>
          <br>
          <br>
          You already have an account? <router-link to='/login' class='card-link'>Login</router-link>
        </form>

      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Register',
    data () {
      return {
        user: {
          role: 'member',
          avatar: '',
          full_name: '',
          username: '',
          email: '',
          password: '',
          activated: true
        },
        submitted: false
      }
    },
    methods: {
      handleSubmit(e) {
        this.submitted = true;
        const requestOptions = {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(this.user)
        };

        return fetch(this.$apiUrl+'/api/v1/register', requestOptions)
          .then(handleResponse);
      }
    }
  };

  function handleResponse(response) {
    return response.text().then(text => {
      const data = text && JSON.parse(text);
      if (!response.ok) {
        const error = data || response.statusText;
        const errorMessage = Array.isArray(data.error) ? data.error.join(' & ') : data.error
        alert(errorMessage);
      }else{
        alert('Your account was successfully registered!')
        window.location.replace("/login");
      }
      return data;
    });
  }
</script>