<template>
  <div id="AddReview">
    <div class='row'>
      <div class='col'>
        <div class="card">
          <div class="card-body card-user">
            <img v-bind:src=user.avatar class='avatar'>
            <h3>{{user.full_name}}</h3>
            <div class="card-text">{{user.email}}</div>
            <div class="card-text">{{user.created_at}}</div>
            <p>
              <!-- <star-rating v-model="rating"></star-rating> -->
              <i class="fa" v-bind:class="[user.total_rating > 0 ? 'text-warning fa fa-star' : 'fa fa-star']"></i>
              <i class="fa" v-bind:class="[user.total_rating > 1 ? 'text-warning fa fa-star' : 'fa fa-star']"></i>
              <i class="fa" v-bind:class="[user.total_rating > 2 ? 'text-warning fa fa-star' : 'fa fa-star']"></i>
              <i class="fa" v-bind:class="[user.total_rating > 3 ? 'text-warning fa fa-star' : 'fa fa-star']"></i>
              <i class="fa" v-bind:class="[user.total_rating > 4 ? 'text-warning fa fa-star' : 'fa fa-star']"></i>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col'>
        <div class="card">
          <div class="card-body card-user">
            <form @submit.prevent="handleSubmit">
              <star-rating v-model="review.rating"></star-rating>
              <br>
              <textarea name='comment' v-model="review.comment" class='form-comment' required='required'></textarea>
              <button class="fadeIn fourth" type='submit'>Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div v-bind:key="usr.id" v-for="usr in user.reviews" class="col-12">
        <div class="card">
          <div class="card-body card-user">
            <p>
              <i class="fa" v-bind:class="[usr.rating > 0 ? 'text-warning fa fa-star' : 'fa fa-star']"></i>
              <i class="fa" v-bind:class="[usr.rating > 1 ? 'text-warning fa fa-star' : 'fa fa-star']"></i>
              <i class="fa" v-bind:class="[usr.rating > 2 ? 'text-warning fa fa-star' : 'fa fa-star']"></i>
              <i class="fa" v-bind:class="[usr.rating > 3 ? 'text-warning fa fa-star' : 'fa fa-star']"></i>
              <i class="fa" v-bind:class="[usr.rating > 4 ? 'text-warning fa fa-star' : 'fa fa-star']"></i>
            </p>
            <h4>
              {{usr.rater}}
            </h4>
            <p>" {{usr.comment}} "</p>
            <div class="card-text">{{usr.created_at}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { authHeader, authUser } from '@/_helpers';

  export default {
    name: 'AddReview',
    data(){
      return{
        user: [],
        review: {
          user_id: this.$route.params.id,
          rating: 0,
          comment: ''
        }
      }
    },
    methods: {
      handleSubmit(e) {
        const requestOptions = {
          method: 'POST',
          headers: authHeader(),
          body: JSON.stringify(this.review)
        };

        return fetch(this.$apiUrl+'/api/v1/user-rating', requestOptions)
          .then(handleResponse)
          .then(user => {
            this.user = user
            this.review.comment = ''
          });
      }
    },
    mounted () {    
      const requestOptions = {
        headers: authHeader()
      };

      this.$http.get(this.$apiUrl+'/api/v1/user/'+this.$route.params.id, requestOptions)
        .then((response) => {
          this.user = response.data
        });
    }
  }

  function handleResponse(response) {
    return response.text().then(text => {
      const data = text && JSON.parse(text);
      if (!response.ok) {
        const error = data || response.statusText;
        const errorMessage = Array.isArray(data.error) ? data.error.join(' & ') : data.error
        alert(errorMessage);
      }else{
        alert('Successfully review!')
      }
      return data;
    });
  }
</script>


<style>
  .vue-star-rating{
    margin: auto;
  }
  .form-comment{
    border:solid 1px #ccc;
    width: 100%;
    border-radius: 20px;
  }
</style>

