<template>
  <div id="dashboard" class='animate dashboard'>
    <Nav/>
    <Users/>
  </div>
</template>

<script>
  import { authHeader, authUser } from '@/_helpers';
  import Nav from '@/components/shared/Nav';
  import Users from '@/components/dashboard/Users';

  export default {
    name: 'Dashboard',
    components: {
      Nav,
      Users
    },
    mounted () {   
      authUser()
    }
  }
</script>