<template>
  <div id="ListFiles" class='animate dashboard'>
    <Nav/>

    <div class='row'>
      <div class='col'>
        <div class="card">
          <div class="card-body card-user">
            <form @submit.prevent="handleSubmit">
              <input v-model="file.name" required="required" type="text" class="fadeIn second" name="name" placeholder="File Name">
              <input ref="link_file" v-on:change="uploadFile" required="required" type="file" class="fadeIn second" name="link_file" placeholder="Link File">
              <br>
              <br>
              <button class="fadeIn fourth" type='submit'>Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body card-user">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">File Name</th>
                  <th scope="col">Link</th>
                  <th scope="col">Created At</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-bind:key="file.id" v-for="file in files" class="col-3">
                  <th scope="row">{{file.id}}</th>
                  <td>{{file.name}}</td>
                  <td>
                    <a v-bind:href=file.link>
                      {{file.link}}
                    </a>
                  </td>
                  <td>{{file.created_at}}</td>
                  <td>
                    <a href="#" @click.prevent="deletePost(file.id)" class='card-link'>Delete</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { authHeader, authUser } from '@/_helpers';
  import Nav from '@/components/shared/Nav';

  export default {
    name: 'ListFiles',
    components: {
      Nav
    },
    data(){
      return{
        files: [],
        file: {
          name: '',
          link_file: ''
        }
      }
    },
    methods: {
      uploadFile: function(e) {
        e.preventDefault();
        const files = this.$refs.link_file.files;
        this.file.link_file = files[0]
      },
      getResults(){
        const requestOptions = {
          headers: authHeader()
        };
        
        this.$http.get(this.$apiUrl+'/api/v1/upload-files', requestOptions)
          .then((response) => {
            this.files = response.data
          });
      },
      handleSubmit(e) {
        let self = this;
        let user = JSON.parse(localStorage.getItem('user'));
        let formData = new FormData();
        formData.append('name', this.file.name);
        formData.append('link_file', this.file.link_file);
        
        this.$http.post(this.$apiUrl+'/api/v1/upload-files', formData, { headers: { 'Content-Type': 'multipart/form-data', 'Authorization': 'Bearer ' + user.token }})
          .then(function(){
            self.files = self.getResults();
            self.file.name = ''
            alert('Successfully add file!')
          })
          .catch(function(){
            console.log('Errors!!');
          });
      },
      deletePost: function(id) {
        let self = this;

        const requestOptions = {
          headers: authHeader()
        };

        this.$http.delete(this.$apiUrl+'/api/v1/upload-files/'+id, requestOptions)
          .then(function(){
            self.files = self.getResults();
            alert('Successfully deleted!')
          })
          .catch(error => {
            alert(error.response.data.error);
          });
      }
    },
    mounted () {
      authUser()
      this.getResults();
    }
  }

  function handleResponse(response) {
    return response.text().then(text => {
      const data = text && JSON.parse(text);
      if (!response.ok) {
        const error = data || response.statusText;
        const errorMessage = Array.isArray(data.error) ? data.error.join(' & ') : data.error
        alert(errorMessage);
      }else{
        alert('Successfully add file!')
      }
      return data;
    });
  }
</script>

