<template>
  <div id="User">
    <div class='animate dashboard'>
      <Nav/>
      <AddReview/>
    </div>
  </div>
</template>

<script>
  import Nav from '@/components/shared/Nav';
  import AddReview from '@/components/dashboard/AddReview';

  export default {
    name: 'User',
    components: {
      Nav,
      AddReview
    },
    mounted () {    
      authUser()
    }
  }
</script>


<style>
  .vue-star-rating{
    margin: auto;
  }
</style>

