<template>
  <div id="Users">
    <div class='row'>
      <div v-bind:key="user.id" v-for="user in users" class="col-3">
        <div class="card">
          <div class="card-body card-user">
            <img v-bind:src=user.avatar class='avatar'>
            <h3>
              <router-link :to="{name: 'User', params: {id: user.id}}" class='card-link'>{{user.full_name}}</router-link>
            </h3>
            <div class="card-text">{{user.email}}</div>
            <div class="card-text">{{user.created_at}}</div>
            <p>
              <i class="fa" v-bind:class="[user.total_rating > 0 ? 'text-warning fa fa-star' : 'fa fa-star']"></i>
              <i class="fa" v-bind:class="[user.total_rating > 1 ? 'text-warning fa fa-star' : 'fa fa-star']"></i>
              <i class="fa" v-bind:class="[user.total_rating > 2 ? 'text-warning fa fa-star' : 'fa fa-star']"></i>
              <i class="fa" v-bind:class="[user.total_rating > 3 ? 'text-warning fa fa-star' : 'fa fa-star']"></i>
              <i class="fa" v-bind:class="[user.total_rating > 4 ? 'text-warning fa fa-star' : 'fa fa-star']"></i>
            </p>
            <center>
              <a href="#" @click.prevent="deletePost(user.id)" class='card-link'>Delete</a>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { authHeader, authUser } from '@/_helpers';
  export default {
    name: 'Users',
    data(){
      return{
        users: []
      }
    },
    mounted () {
      this.getResults();
    },
    methods: {
      getResults(){
        const requestOptions = {
          headers: authHeader()
        };

        this.$http.get(this.$apiUrl+'/api/v1/users', requestOptions)
          .then((response) => {
            this.users = response.data
          });
      },
      deletePost: function(id) {
        let self = this;

        const requestOptions = {
          headers: authHeader()
        };

        this.$http.delete(this.$apiUrl+'/api/v1/user/'+id, requestOptions)
          .then(function(){
            self.users = self.getResults();
            alert('Successfully deleted!')
          })
          .catch(error => {
            alert(error.response.data.error);
          });
      }
    }
  }
</script>

